<ion-content>
  <section class="container col-lg-6">
    <div class="card">
      <span class="card-header" style="color:orange;"><span class="btn btn-dark text-white"
        (click)="backtohome()"><i class="bi bi-arrow-left"></i></span> <span  style=" float: right;">Wallet To Wallet Transfer</span></span>
      <div class="card-body">

        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
          <div class="row mb-3">
            <label class=" col-form-label">Sender Account Number</label>
            <div class="col-sm-12">
              <input type="text" name="own_acc_num" class="form-control " placeholder="Enter Customers Account Number" ngModel>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail" class=" col-form-label">Sender Account Type</label>
            <div class="col-sm-12">
            
              <select class="form-control" name="own_acc_type" required="" ngModel>
                <option value="">--Account Type---</option>
                <option  value="personal">Personal Contribution</option>
                <option  value="regular">Regular Saving</option>
              </select>
            </div>
          </div>
         
          <div class="row mb-3">
            <label class=" col-form-label">Beneficiary Account Number</label>
            <div class="col-sm-12">
              <input type="text" name="des_acc_num" class="form-control " placeholder="Enter Destination Account Number" ngModel>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail" class=" col-form-label">Beneficiary Account Type</label>
            <div class="col-sm-12">
            
              <select class="form-control" name="des_acc_type" required="" ngModel>
                <option value="">--Account Type---</option>
                <option  value="personal">Personal Contribution</option>
                <option  value="regular">Regular Saving</option>
              </select>
            </div>
          </div>
          <div class="row mb-3 ">
            <label class=" col-form-label">Amount</label>
            <div class="col-sm-12">
              <input type="text" name="amount" class="form-control " placeholder="Enter Amount" ngModel>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-dark">Transfer</button>
            </div>
          </div>

        </form><!-- End General Form Elements -->

      </div>
    </div>
  </section>
</ion-content>