<ion-content overflow-scroll="false">
  <app-sidebars></app-sidebars>
  <main id="main" class="main">
  
    <div class="pagetitle">
      <h1>Customer</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Accounting</a></li>
          <li class="breadcrumb-item active">Customer</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
      <button class="btn btn-light mb-5" (click)="modals('newbank')">New Account</button>
      <div class="modal fade show mt-5 {{newbank}}" id="scrollingModal" tabindex="-1" aria-modal="true"
        role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create New Account</h5>
              <button type="button" (click)="close()" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="{{specific}}"  #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
                <div class="row mb-1">
                  <label for="inputEmail" class=" col-form-label">Name</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Please Enter Name" name="name" ngModel>     
                  </div>
                </div>
                <div class="row mb-1">
                  <label for="inputEmail" class="col-form-label">Phone Number</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Please Enter Phone Number"  name="phone" ngModel>
                  </div>
                </div>
                <div class="row mb-1">
                  <label for="inputEmail" class="col-form-label">Choose</label>
                  <div class="col-sm-12">
                    <select name="acc_type" id="" class="form-control" ngModel>
                      <option value="receivable">Receivable</option>
                      <option value="payable">Payable</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-1">
                  <label for="inputEmail" class=" col-form-label">Starting Balance</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" placeholder="Please Enter Name" name="amount" ngModel>
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-dark ">Create</button>
                  </div>
                </div>
              </form><!-- End General Form Elements -->
            </div>
          </div>
        </div>
      </div>


      <div class="card recent-sales overflow-auto">

        <div class="card-body">
          <table small="true" class="table table-sm">
            <thead>
              <tr>
                <td scope="col" class="ng-star-inserted">
                  Name
                </td>
                <td scope="col" class="ng-star-inserted">
                  Phone Number
                </td>
                <td scope="col" class="ng-star-inserted">
                  Invoices
                </td>
                <td scope="col" class="ng-star-inserted">
                  Account types
                </td>
                 <td scope="col" class="ng-star-inserted">
                  Action
                </td>
              </tr>
              <tr class="ng-start-inserted" *ngFor="let a of items;let index;">
                <td>{{a.name}}</td>
                <td>{{a.phone}}</td>
                 <td>&#8358;{{a.amount}}</td>
                <td>Account {{a.acc_type}}</td>
                 <td><button class="btn btn-light" value="{{a.id}}" (click)="modals('edit', $event)">Edit</button></td>
              </tr>
            </thead>
          </table>
      </div>
    </div>
    <div class="modal fade show mt-5 {{updatebank}}" id="scrollingModal" tabindex="-1" aria-modal="true"
    role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Account</h5>
          <button type="button" (click)="close()" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form >
           
            <div class="row mb-1">
              <label for="inputEmail" class="col-form-label">Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Please Enter Name"  name="name" [(ngModel)]="name">
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputEmail" class=" col-form-label">Phone Number</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" placeholder="Please Enter Phone Number" name="phone" [(ngModel)]="phone">     
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputEmail" class="col-form-label">Choose</label>
              <div class="col-sm-12">
                <select  id="" class="form-control" name="acc_type" [(ngModel)]="acc_type">
                  <option value="receivable">Receivable</option>
                  <option value="payable">Payable</option>
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputEmail" class=" col-form-label">Amount</label>
              <div class="col-sm-12">
                <input type="number" class="form-control" placeholder="Please Enter Amount" value="{{amount}}" name="amount" [(ngModel)]="amount">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-2">
                <button type="submit" class="btn btn-dark"  (click)="modals('update', $event)">Update</button>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-danger" (click)="modals('delete')">Delete</button>
              </div>
            </div>
          </form><!-- End General Form Elements -->
        </div>
      </div>
    </div>
  </div>
</main>
</ion-content>
